* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  border: 5px solid rgb(79, 255, 79);
  position: relative;
  top: 0px;
}

.buttons > button {
  position: absolute;
  float: right;
  right: 30px;
  top: 5px;

  background-color: #ff0808;
  border: none;
  border-radius: 10px;
  color: rgb(241, 241, 241);
  padding: 10px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttons > button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text {
  position: absolute;
  background-color: yellow;

  text-align: center;

  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
