* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  border: 5px solid rgb(79, 255, 79);
  position: relative;
  top: 0px;
}

.buttons > button {
  position: absolute;
  float: right;
  right: 30px;
  top: 5px;

  background-color: #ff0808;
  border: none;
  border-radius: 10px;
  color: rgb(241, 241, 241);
  padding: 10px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttons > button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text {
  position: absolute;
  top: 5px;
  left: 0px;
  background-color: yellow;

  text-align: center;

  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Sliders */

/* .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
*/
.slidecontainer {
  position: absolute;
  top: 10px;
  left: 300px;
  width: 200px;
}

.brushsize {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slider {
  width: 100%;
  height: 15px;
  margin-top: 10px;
  border-radius: 5px;
  background: #d3d3d3;

  outline: none;
  opacity: 0.7;

  transition: opacity 0.2s;
}
